:root {
    --bg-oscuro: #121F48;
    --accent-celeste: #539ECD;
    --menu-width-full: 240px;
    --menu-width-colapsado: 75px;
}

/*Estilo de Body*/
body {
    background-color: #F4F4F4;
    margin: 0;
    padding: 0;
}

/*Estilo del menú*/
.menu-lateral {
    background-color: var(--bg-oscuro);
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1030;
    display: flex;
    flex-direction: column;
    width: var(--menu-width-full);
    height: 100vh;
    overflow-x: hidden !important;
    overflow-y: auto;
}

/*Para que no se vea la barra de scroll*/
.menu-lateral::-webkit-scrollbar {
    width: 0px;
}

.main {
    transition: all 0.3s ease;
    margin-left: var(--menu-width-full);
}

.menu-lateral-header {
    display: flex;
    align-items: center;
    height: 60px;
}

.menu-lateral-header img {
    width: 40px;
}

.linea-divisora {
    width: 80%;
}

.nav-link {
    position: relative;
    display: flex;
    align-items: center;
    color: rgb(216, 215, 215) !important;
    text-decoration: none;
    padding: 3px;
    padding-inline: 0px;
    transition: background 0.2s;
    width: 100%;
}

/*Barra lateral de las opciones del menú*/
.nav-link::before,
.submenu a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: var(--accent-celeste);
    transform: scaleY(0);
    transition: transform 0.3s ease;
}

.nav-link:hover {
    color: var(--accent-celeste) !important;
    background-color: rgba(255, 255, 255, 0.08);
    font-weight: bold;
}

.icono-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 40px;
    border-radius: 12px;
    flex-shrink: 0;
    transition: background 0.2s;
    margin-left: 22px;
    margin-right: 15px;
}

.icono-menu img {
    width: 25px;
}

/* Para señalar la opción activa*/
.menu-opcion.activo .icono-menu {
    background-color: var(--accent-celeste);
    padding-inline: 20px;
    margin-left: 17px;
}

.menu-opcion.activo .icono-menu img {
    width: 20px;
}

.menu-opcion.activo .menu-texto {
    color: var(--accent-celeste);
    font-weight: bold;
}

/* Submenús */
.submenu {
    list-style: none;
    max-height: 0;
    padding-left: 70px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.menu-opcion.abrir .submenu {
    max-height: 120px;
}

.submenu a {
    position: relative;
    color: #a2b5e4 !important;
    text-decoration: none;
    display: block;
    padding: 6px 0;
    padding-left: 20px;
    font-size: 0.95rem;
}

.submenu a:hover {
    color: #ffffff !important;
    background-color: rgba(255, 255, 255, 0.08);
}

/*Para que la barra lateral aparezca*/
.nav-link:hover::before,
.nav-link.activo::before,
.submenu a:hover::before {
    transform: scaleY(1);
}

.icono-flecha {
    margin-left: auto;
    margin-right: 30px;
    transition: transform 0.3s;
}

.menu-opcion.abrir .icono-flecha {
    transform: rotate(180deg);
}

/*Para oscurecer el fondo*/
.menu-lateral-overlay {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 60px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1030;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

/*Estilo de la parte superior*/
.superior {
    background-color: #F4F4F4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Estado normal antes de la animacion*/
.perfil {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: var(--bg-oscuro);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    border-radius: 50px;
    transition: width 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.perfil img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.perfil .perfil-nombre {
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

/*Para la animación de perfil*/
.perfil.abrir {
    width: 200px;
    justify-content: space-between;
}

.perfil.abrir .perfil-nombre {
    opacity: 1;
    transition: opacity 0.2s ease 0.2s;
}


/*Para pantallas grandes*/
@media (min-width: 1215px) {
    .menu-lateral {
        height: 100vh;
        width: var(--menu-width-full);
        overflow-y: auto;
    }

    .menu-lateral-header {
        justify-content: space-between;
        padding: 0 22px;
    }


    .menu-lateral-header .menu-lateral-logo {
        order: 1;
        width: 40px;
    }

    .menu-lateral-header #btnMenu {
        order: 2;
    }

    .menu-lateral.colapsado {
        width: var(--menu-width-colapsado);
    }

    /*cultar elementos en modo colapsado */
    .menu-lateral.colapsado .menu-texto,
    .menu-lateral.colapsado .icono-flecha,
    .menu-lateral.colapsado .menu-lateral-logo {
        display: none !important;
    }

    .main.expandido {
        margin-left: var(--menu-width-colapsado) !important;
    }

}

/*Para pantallas pequeñas*/
@media (max-width: 1214.98px) {

    #btnMenu:focus,
    #btnMenu:activo {
        box-shadow: none !important;
        outline: none !important;
    }

    .menu-lateral {
        width: 100% !important;
        height: 60px !important;
        overflow: visible !important;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--bg-oscuro);
        z-index: 1040 !important;
        overflow-x: hidden !important;
        overflow-y: auto;
    }

    .menu-lateral .menu-lateral-logo {
        display: none !important;
    }

    .menu-lateral hr {
        display: none !important;
    }

    .menu-lateral-header {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        background-color: var(--bg-oscuro);
        position: relative;
        z-index: 1035;
        /* Por encima de todo */
    }

    .menu-lateral-cuerpo {
        display: flex !important;
        background-color: var(--bg-oscuro);
        position: fixed;
        top: 60px;
        left: 0;
        width: 250px;
        height: calc(100vh - 60px);
        overflow-y: auto;
        padding: 15px 0;
        box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
        z-index: 1034;

        /* Animación suave de deslizamiento */
        transform: translateX(-100%);
        transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    }

    /*Para que no se vea la barra de scroll*/
    .menu-lateral-cuerpo::-webkit-scrollbar {
        width: 0px;
    }

    .menu-lateral.mobile-expandido .menu-lateral-cuerpo {
        transform: translateX(0);
    }

    .main {
        margin-left: 0 !important;
        padding-top: 80px !important;
        margin-top: 40px !important;
    }

    /*Para hacer un fondo oscuro*/
    .menu-lateral-overlay.activo {
        opacity: 1;
        pointer-events: auto;
    }

}