:root {
    --bg-dark: #121F48;
    --accent-celeste: #539ECD;
}

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.encabezado-tickets-asignados {
    background-color: var(--accent-celeste);
    z-index: 2;
    position: relative;
    border-radius: 20px 20px 0 0;
}

.input-buscar {
    width: 297px;
}


.lista-tickets-asignados {
    position: relative;
    cursor: pointer;
}

.lista-tickets-asignados:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    transition: transform 0.4s ease;

}

.scroll-lista-ticket {
    max-height: 550px;
    overflow-y: hidden;
    padding-right: 10px 12px;
    scroll-behavior: smooth;
}


/*Para texto de una sola línea que puede ser largo*/
.texto-limitado-1 {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

/*Para texto que puede tener varias líneas pero no infinitas*/
.texto-limitado {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
}
