:root {
    --fondo-oscuro: #121F48;
    --acento-celeste: #539ECD;
    --ancho-barra-lateral-completa: 260px;
    --ancho-barra-lateral-colapsada: 85px;
    --separacion-tablas: #dee2e6;
    --borde-info-editar: #FF0000;
}

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.volver-button {
    text-decoration: none;
}

.boton-editar-ticket {
    background-color: var(--acento-celeste) !important;
    font-size: 17px !important;
}

.fondo-categoria {
    background-color: #ffcccc;
}

.contenedor-evidencias {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-shrink: 0 !important;
}

.borde-rojo {
    border-left: 4px solid var(--borde-info-editar);
    border-right: 2px solid darkgray;
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}

.reporte-tecnico {
    color: var(--fondo-oscuro);
}

.encabezado-tabla-reporte {
    border: 2px solid darkgray;
}

.titulo-reporte {
    color: var(--fondo-oscuro);
    font-weight: 700;
}

/* Contenedor para aplicar el borde redondeado y la sombra a la tabla */
.tabla-reporte {
    background-color: #ffffff;
    overflow: hidden;
    border: 1px solid #e0e0e0;
}

.tabla-personalizada {
    margin-bottom: 0; /* Elimina el margen por defecto */
    vertical-align: middle;
}

.tabla-personalizada th {
    background-color: var(--acento-celeste) !important;
    color: white !important;
    font-weight: 500;
    font-size: 20px;
    padding: 15px !important;
    border-bottom: none;
}

.tabla-personalizada td {
    padding: 25px 20px !important;
    font-size: 0.95rem;
    color: black;
    line-height: 1.4;
    border-bottom: none; /* Elimina la línea horizontal inferior */
}

.tabla-personalizada td:not(:last-child) {
    border-right: 2px solid #dee2e6;
}
.encabezado-reporte{
    background-color: var(--acento-celeste) !important;
}
.tabla-personalizada-bitacora {
    margin-bottom: 0;
    vertical-align: middle;
}

.tabla-personalizada-bitacora th{
    background-color: var(--acento-celeste) !important;
    color: white !important;
    font-weight: 500;
    font-size: 20px;
    padding: 15px !important;
}
.tabla-personalizada-bitacora td{
    padding: 25px 20px !important;
    font-size: 0.95rem;
    color: black;
    line-height: 1.4;
    border-bottom: 2px solid var(--separacion-tablas) !important;
}
.tabla-personalizada-bitacora td:not(:last-child) {
    border-right: 2px solid var(--separacion-tablas);
}
#btnGuardarEdicion{
    background-color: var(--acento-celeste);
}